@{
    ViewData["Title"] = "Home Page kuch bhi";
}

<div class="text-center">
    <h1 class="display-4">Welcome to product catalog</h1>
    <p> Go to Google <a href="https://google.com">whatever</a>
    .</p>
</div>
